doctype html
html
  head
    link(href='http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')

  body
    table
        thead
          tr.head
            th Station
            th Message
            th Date
            th Time
        tbody
          - var i = -1
          each result in results
            - ++i
            tr(class=(i % 2 == 0) ? 'odd' : 'even')
              td #{result.name}
              td #{result.message}
              td #{result.date}
              td #{result.time}
