doctype html
html(lang="en")
  head
    title=dafuq
    script
      console.log("Jade page rendering")
  body
    h1 DB Stuff
    each value,key in creds
      if key != "password"
        li= key + " : " + value
      else
        li= "password" + " : " + "********************"
